*{
    box-sizing: border-box;
}

body{
    margin: 0;
    overflow-x: hidden;
    min-height: 100vh;
    text-align: center;
    background-color: #334756;
    color: #fff;
}

.header{
    position: sticky;
    top: 0;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background-color: #04293A;
}

header .logo{
    width: 50px;
}

.navegacion{
    float: left;
    display: flex;
}

.navegacion ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

.menu>li{
    display: inline-block;
}

li>a{
    display: block;
    padding: 0.5em 1em;
    font-family: Verdana;
    text-decoration: none;
    background-color: #2C394B;
    color: #fff;
    border: 1px solid black;
}

li>a:hover{
    background-color: #0a7066;
    transition: .5s;
}

.submenu{
    position: absolute;
    display: flex;
    flex-direction: column;
    width:max-content;
    /* esconder submenu */
    visibility: hidden;
    opacity: 0;
    transition: opacity 1.5s;
}

/* Aparecer el submenu */
.menu li:hover .submenu{
    visibility: visible;
    opacity: 1;
}



.unidad{
    padding: 0.25em;
    margin-bottom: 20px;
    background-color: #35858B;
}

.unidad .titulo-unidad{
    position: sticky;
    top: 50px;
    z-index: 500;
    margin: 0;
    margin-bottom: 5px;
    font-size: 2.3rem;
    font-family: Helvetica;
    background-color: #35858B;
}

.unidad .temas{
    margin: 0;
    padding: 0;
    list-style: none;
}

.temas .tema{
    margin-bottom: 10px;
}

.tema>a{
    /* display: block; */
    font-size: 1.4rem;
    font-family:cursive;
    /* background-color: #54BAB9; */
    background-color: #4FBDBA;
    border-radius: 0.5em;
}

.footer{
    position:sticky;
    bottom: 0;
    z-index: 900;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #04293A;
}

.footer .logo{
    width: 30px;
}