/*
ORDER es la propiedad que nos permite establecer que elemento tiene una mayor prioridad para colocarse primero.

SINTAXIS:

order: <valor_numerico>;

    1: primer elemento que se colocara.
    2: segundo elemento que se colocara.
    ...

*/

*{
    box-sizing: border-box;
}

body{
    margin: 0;
    text-align: center;
    background-color: #333;
    color: #fff;
}

article{
    margin-bottom: 20px;
    background-color: #666;
}

article>h2{
    margin: 0;
    font-size: 2rem;
    font-family: cursive;
}

.contenedor{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    background-color: darkcyan;
}

.hijo{
    width: 100px;
    height: 100px;
    margin: 5px 5px 10px 5px;
    padding: 1em;
    font-size: 1.5rem;
    background-color: lightcoral;
    border: 2px solid #fff;
}

.orden-1{
    order: 1;
}

.orden-2{
    order: 2;
}

.orden-3{
    order: 3;
}

.orden-4{
    order: 4;
}

.orden-5{
    order: 5;
}

.orden-6{
    order: 6;
}
