/*

FLEX-GROW es la propiedad que nos permite dar una prioridad a los elementos, de esta manera se indicara cual podra ocupar mayor espacio segun el valor que se le asigna. (ej 0 nunca crecerá).

Mientras más alto su valor, mayor será la prioridad de crecer

SINTAXIS: 

flex-grow: <valor_numerico>;
    
    0: nunca crecerá.

    1: crecerá de forma proporcional.
    
    2: crecerá el doble que 1.
    
    ...

*/

*{
    box-sizing: border-box;
}

body{
    margin: 0;
    text-align: center;
    background-color: #333;
    color: #fff;
}

.contenedor{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    background-color: darkcyan;
}

.hijo{
    width: 100px;
    height: 200px;
    margin: 5px 5px 10px 5px;
    padding: 1em;
    font-size: 1.5rem;
    background-color: lightcoral;
    border: 2px solid #fff;
}

.no-crecer{
    flex-grow: 0;
}

.crecer-1{
    flex-grow: 1;
}

.crecer-2{
    flex-grow: 2;
}

.crecer-3{
    flex-grow: 3;
}