/*

flex-shrink es una propiedad contraria a flex-grow, esta nos permiten establecer la contraccion de los elementos.
    
SINTAXIS:
    flex-shrink: <valor_numerico>;

    0: no se contraera.
    
    1: valor inicial.
    
    2: se contraera el doble de 1.

    3: se contraera el triple de 1.
    ...

*/

*{
    box-sizing: border-box;
}

body{
    margin: 0;
    text-align: center;
    background-color: #333;
    color: #fff;
}

.contenedor{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    background-color: darkcyan;
}

.hijo{
    width: 300px;
    height: 150px;
    margin: 5px 5px 10px 5px;
    padding: 1em;
    font-size: 1.5rem;
    background-color: lightcoral;
    border: 2px solid #fff;
}

.no-shrink{
    flex-shrink: 0;
}

.shrink-1{
    flex-shrink: 1;
}

.shrink-2{
    flex-shrink: 2;
}

.shrink-3{
    flex-shrink: 3;
}
