/*
flex-basis es una propiedad que nos permitira establecer un tamaño inicial, esto no quiere decir que sea estatico y no pueda adaptarse luego. Seria parecido al min-width.

SINTAXIS:
    flex-basis: <tamaño>;

    El tamaño puede darse con medidas absolutas o relativas.

*/

*{
    box-sizing: border-box;
}

body{
    margin: 0;
    text-align: center;
    background-color: #333;
    color: #fff;
}

.contenedor{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    background-color: darkcyan;
}

.hijo{
    width: 100px;
    height: 150px;
    margin: 5px 5px 10px 5px;
    padding: 1em;
    font-size: 1.5rem;
    background-color: lightcoral;
    border: 2px solid #fff;
}

.basis-1{
    flex-basis: 25%;
}

.basis-2{
    flex-basis: 50%;
}

.basis-3{
    flex-basis: 75%;
}

.basis-4{
    flex-basis: 100%;
}