/*

FLEX es una propiedad abreviada la cual agrupa tres propiedades: flex-grow,flex-shrink y flex-basis.

SINTAXIS: 
    flex: <flex-grow> <flex-shrink> <flex-basis>;

*/

*{
    box-sizing: border-box;
}

body{
    margin: 0;
    text-align: center;
    background-color: #333;
    color: #fff;
}

.contenedor{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    background-color: darkcyan;
}

.hijo{
    width: 100px;
    height: 100px;
    margin: 5px 10px;
    margin-bottom: 10px;
    padding: 1em;
    font-size: 1.5rem;
    background-color: lightcoral;
    border: 2px solid #fff;
}

.flex-1{
    flex: 1 2 25%;
}

.flex-2{
    flex: 2 1 50%;
}

.flex-3{
    flex: 3 2 25%;
}

.flex-4{
    flex: 4 1 100px;
}

.flex-5{
    flex: 5 2 150px;
}

.flex-6{
    flex: 6 3 300px;
}