/*

ALIGN-SELF es una propiedad que nos permite alinear un elemento dentro del contenedor, sobreescribiendo la propiedad align-items de este.
    
SINTAXIS: 
    align-self: <alineado>;

*/

*{
    box-sizing: border-box;
}

body{
    margin: 0;
    text-align: center;
    background-color: #333;
    color: #fff;
}

.contenedor{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    background-color: darkcyan;
}

.hijo{
    width: 100px;
    margin: 0 5px;
    margin-bottom: 10px;
    padding: 1em;
    font-size: 1.5rem;
    background-color: lightcoral;
    border: 2px solid #fff;
}

.alto-1{
    height: 100px;
}

.alto-2{
    height: 200px;
}

.alto-3{
    height: 150px;
}

.alineacion-1{
    align-self: flex-end;
}

.alineacion-2{
    align-self: baseline;
}

.alineacion-3{
    align-self: flex-start;
}

.alineacion-4{
    align-self: stretch;
}