/*
La propiedad flex-direction nos permite definir la direccion en la que se distribuiran los elementos dentro del contenedor.

SINTAXIS:
flex-direction: row | row-reverse | column | column-reverse ;

    row -> En fila (valor por defecto).

    row-reverse -> Fila invertida.

    column -> En columna.

    column-reverse -> Columna invertida.
*/

*{
    box-sizing: border-box;
}

body{
    margin: 0;
    text-align: center;
    background-color: #333;
    color: #fff;
}

.articulo{
    margin-bottom: 20px;
    background-color: #666;
}

.articulo>h2{
    margin: 0;
    font-size: 2rem;
    font-family: cursive;
}

.contenedor{
    /* condicion necesaria */
    display: flex;
}

.hijo{
    width: 100px;
    height: 100px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 10px;
    border: 1px solid black;
    font-size: 1.5rem;
    background-color: lightcoral;
}

.fila{
    flex-direction: row;
}

.fila-invertida{
    flex-direction: row-reverse;
}

.columna{
    flex-direction: column;
}

.columna-invertida{
    flex-direction: column-reverse;
}