/*

FLEX-WRAP es la propiedad que determina un salto de linea(horizontal o vertical) si el espacio es insuficiente para contenerlo.
    
    nowrap -> Sin salto (valor por defecto).

    wrap -> Salto de linea.

    wrap-reverse -> Salto de linea invertido.

*/

*{
    box-sizing: border-box;
}

body{
    margin: 0;
    text-align: center;
    background-color: #333;
    color: #fff;
}

.articulo{
    margin-bottom: 20px;
    background-color: #666;
}

.articulo>h2{
    margin: 0;
    font-size: 2rem;
    font-family: cursive;
}

.contenedor{
    display: flex;
}

.hijo{
    width: 150px;
    height: 150px;
    margin: 0 5px 10px 5px;
    padding: 0.25em 0.5em;
    font-size: 1.5rem;
    background-color: lightcoral;
    border: 1px solid black;
}

.sin-salto{
    flex-wrap: nowrap;
}

.salto{
    flex-wrap: wrap;
}

.salto-invertido{
    flex-wrap: wrap-reverse;
}