/*

FLEX-FLOW es una abreviacion de las propiedades flex-direction y flex-wrap.

    flex-flow: <flex-direction> <flex-wrap>;

*/

*{
    box-sizing: border-box;
}

body{
    margin: 0;
    text-align: center;
    background-color: #333;
    color: #fff;
}

.articulo{
    margin-bottom: 20px;
    background-color: #666;
}

.articulo>h2{
    margin: 0;
    font-size: 2rem;
    font-family: cursive;
}

.container{
    display: flex;
}

.hijo{
    width: 150px;
    height: 150px;
    margin: 0 5px 10px 5px;
    font-size: 1.5rem;
    background-color: lightcoral;
    border: 1px solid black;
}

.flow-1{
    flex-flow: row wrap;
}

.flow-2{
    flex-flow: column nowrap;
}

.flow-3{
    flex-flow: row-reverse wrap;
}