/*

La propiedad justify-content nos permite alinear horizontalmente los elementos dentro de un contenedor.

Sintaxis: 

justify-content: flex-start | center | flex-end | space-arround | space-bettween ;

    flex-start -> alinea a la izquierda.

    flex-end -> alinea a la derecha.

    center -> centra los elementos.

    space-around -> separa todos los elementos calculando distancias.

    space-bettween -> separacion entre elementos.
        
        
*/

*{
    box-sizing: border-box;
}

body{
    margin: 0;
    text-align: center;
    background-color: #333;
    color: #fff;
}

.articulo{
    margin-bottom: 20px;
    background-color: #666;
}

.articulo>h2{
    margin: 0;
    font-size: 2rem;
    font-family: cursive;
}

.contenedor{
    /* condicion necesaria */
    display: flex;
}

.hijo{
    width: 100px;
    height: 100px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 10px;
    border: 1px solid black;
    font-size: 1.5rem;
    background-color: lightcoral;
}

.izquierda{
    justify-content: flex-start;
}

.centrado{
    justify-content: center;
}

.derecha{
    justify-content: flex-end;
}

.espaciado-1{
    justify-content: space-around;
}

.espaciado-2{
    justify-content: space-between;
}
