/*
La propiedad align-items nos permite alinear verticalmente los elementos dentro del contenedor.

SINTAXIS: 

align-item: stretch | flex-start | center | flex-end | baseline ;

    stretch -> valor por defecto alinea rellenando el height de forma automatica.

    center -> centralizado.

    flex-start -> alinea hacia arriba.

    flex-end -> alinea hacia abajo.

    baseline -> alinea utilizando la base de los elementos.

*/

*{
    box-sizing: border-box;
}

body{
    margin: 0;
    text-align: center;
    background-color: #333;
    color: #fff;
}

img{
    display: block;
    margin: 0 auto;
    margin-bottom: 20px;
    width: 80%;
}

.articulo{
    margin-bottom: 20px;
    background-color: #666;
}

.articulo>h2{
    margin: 0;
    font-size: 2rem;
    font-family: cursive;
}

.contenedor{
    /* condicion necesaria */
    display: flex;
}

.hijo{
    width: 150px;
    height: 100px;
    margin: 0 5px 10px 5px;
    border: 1px solid black;
    font-size: 1.5rem;
    background-color: lightcoral;
}

.alto-hijo-auto{
    height: auto;
}

.alineacion-1{
    flex-wrap: wrap;
    align-items: stretch;
}

.alineacion-2{
    flex-wrap: wrap;
    align-items: baseline;
}

.base-alterada-1{
    padding-top: 20px;
}

.base-alterada-2{
    padding-top: 1.25em;
}

.alto{
    height: 300px;
}

.alto-hijo-1{
    height: 100px;
}

.alto-hijo-2{
    height: 200px;
}

.alto-hijo-3{
    height: 150px;
}

.arriba{
    align-items: flex-start;
}

.centrado{
    align-items: center;
}

.abajo{
    align-items: flex-end;
}