/*

ALIGN-CONTENT es la propiedad que nos permite alinear las filas/columnas.

    stretch -> valor por defecto.

    flex-start -> centra al inicio.

    flex-end -> centra al final.

    center -> centrar lineas.

    space-arround -> separa todos los elementos.

    space-bettween -> separacion entre elementos.

*/

*{
    box-sizing: border-box;
}

body{
    margin: 0;
    text-align: center;
    background-color: #333;
    color: #fff;
}

img{
    display: block;
    width: 80%;
    margin: 0 auto;
    margin-bottom: 20px;
}

.articulo{
    margin-bottom: 20px;
    background-color: #666;
}

.articulo>h2{
    margin: 0;
    font-size: 2rem;
    font-family: cursive;
}

.contenedor{
    /* condicion necesaria */
    display: flex;
    height: 300px;
    flex-flow: row wrap;
}

.hijo{
    width: 100px;
    height: 50px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 10px;
    border: 1px solid black;
    font-size: 1.5rem;
    background-color: lightcoral;
}

.a{
    display: none;
}

.linea-inicial{
    align-content: flex-start;
}

.linea-centrada{
    align-content: center;
}

.linea-final{
    align-content: flex-end;
}

.linea-espaciada-1{
    align-content: space-between;
}

.linea-espaciada-2{
    align-content: space-around;
}