/*

XS => media="(max-width: 480px)"

S  => media="(max-width: 576px)"

M  => media="(max-width: 768px)"

L  => media="(max-width: 992px)"

XL => media="(max-width: 1200px)"

XXL => media="(max-width: 1400px)"

*/

*{
    box-sizing: border-box;
}

body{
    margin: 0;
    text-align: center;
    background-color: #333;
    color: #fff;
}

.contenedor{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    background-color: darkcyan;
}

.hijo{
    flex-basis: 200px;
    margin: 10px 10px 0;
    margin-bottom: 10px;
    padding: .5em 1em;
    height: 25vh;
    font-size: 2rem;
    background-color:lightcoral;
    border: 1px solid #fff;
}

/* XS => 480px */
@media (max-width: 480px) {
    .contenedor{
        background-color: #0E185F;
    }

    .hijo{
        flex-basis: 100%;
        background-color: #2FA4FF;
    }
}


/* S => 576px */
@media (min-width: 481px) and (max-width: 576px) {
    .contenedor{
        background-color: #062C30;
    }   
    
    .hijo{
        background-color: #05595B;
    }
}


/* M => 768px */
@media (min-width: 577px) and (max-width: 768px) {
    .contenedor{
        background-color: #3D0000;
    }

    .hijo{
        flex-basis: 75vw;
        background-color: #FF0000;
    }
}


/* L => 992px */
@media (min-width: 769px) and (max-width: 992px) {
    .contenedor{
        background-color: #FF1700;
    }

    .hijo{
        background-color: #FF8E00;
    }
}


/* XL => 1200px */
@media (min-width: 993px) and (max-width: 1200px) {
    .contenedor{
        background-color: #F7FD04;
    }

    .hijo{
        background-color: #F9B208;
    }
}