*{
    box-sizing: border-box;
}

body{
    margin: 0;
    text-align: center;
    background-color: #333;
    color: #fff;
}

header>h1{
    font-family: Cursive;
}

.fila{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    padding: 5px;
    background-color: #666;
}

.columna{
    flex: 1 0 25%;
}

.columna>img{
    display: block;
    width: 100%;
    height: 50vh;
    padding: 5px;
}


@media (max-width: 768px) {

    .columna{
        flex: 2 0 50%;
    }

}

@media (max-width: 576px) {
    
    .columna{
        flex: 3 0 100%;
    }

    .columna>img{
        height: 80vh;
    }

}