*{
    box-sizing: border-box;
}

body{
    margin: 0;
    height: 100vh;
    text-align: center;
    font-family: Verdana;
    background-color: #333;
    color: #fff;
}

header{
    background-color: #05595B;
}

.fondo{
    margin: 0;
    height: 300px;
    background: #05595B url('./../../assets/img/batman/batman_03.jpeg') no-repeat center center/cover;
    font-size: 2rem;
    line-height: 100px;
}

nav>ul{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style: none;
}

ul>li{
    flex-basis: 20%;
    margin: 5px 5px;
    margin-bottom: 10px;
    background-color: #666;
}

li>a{
    display: block;
    text-decoration: none;
    padding: 15px 25px;
    font-size: 1.25rem;
    color: #fff;
    
}

.row{
    display: flex;
    justify-content: center;
    align-items: stretch;
}

.row>aside{
    flex: 1 1 30%;
    padding: 10px;
    margin: 10px 5px;
    border-radius: 10px;
    background-color: #A2D5AB;
}

aside>h2,
section>h2{
    margin: 0;
    font-size: 2rem;
}

aside>p,
section>p{
    font-size: 1.25rem;
    font-family: cursive;
}

.row>section{
    flex: 2 0 70%;
    padding: 10px;
    margin: 10px 5px;
    border-radius: 10px;
    background-color: #6FB2D2;
}

footer{
    padding: 0.5em 1em;
    font-size: 2rem;
    background-color: #05595B;
}

@media (max-width: 576px) {

    nav>ul{
        flex-wrap: wrap;
    }

    ul>li{
        flex-basis: 100%;
        margin: 0;
        margin-bottom: 5px;
        border-radius: 10px;
    }

    .row{
        flex-wrap: wrap;
    }
}