@font-face {
    font-family: lato-black;
    src: url('./../../assets/font/Lato/Lato-Black.ttf');
}

@font-face {
    font-family: lato-black-italic;
    src: url('./../../assets/font/Lato/Lato-BlackItalic.ttf');
}

@font-face {
    font-family: lato-bold;
    src: url('./../../assets/font/Lato/Lato-Bold.ttf');
}

@font-face {
    font-family: lato-bold-italic;
    src: url('./../../assets/font/Lato/Lato-BoldItalic.ttf');
}

@font-face {
    font-family: lato-italic;
    src: url('./../../assets/font/Lato/Lato-Italic.ttf');
}

@font-face {
    font-family: lato-light;
    src: url('./../../assets/font/Lato/Lato-Light.ttf');
}

@font-face {
    font-family: lato-light-italic;
    src: url('./../../assets/font/Lato/Lato-LightItalic.ttf');
}

@font-face {
    font-family: lato-regular;
    src: url('./../../assets/font/Lato/Lato-Regular.ttf');
}

@font-face {
    font-family: lato-thin;
    src: url('./../../assets/font/Lato/Lato-Thin.ttf');
}

@font-face {
    font-family: lato-thin-italic;
    src: url('./../../assets/font/Lato/Lato-ThinItalic.ttf');
}

*{
    box-sizing: border-box;
}

body{
    margin: 0;
    text-align: center;
    background-color: #333;
    color: #fff;
}

a{
    text-decoration: none;
    color: #fff;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: row wrap;

    width: 100%;
    padding: 20px;

    background-color: #2c3e50;
}

.header > .logo{
    display: flex;
    align-items: center;

    font-size: 1.5rem;
    font-family: lato-bold;
}

.logo > img{
    width: 15%;
}

.logo > a{
    font-size: 2rem;
    font-family: lato-black-italic;
}

.header > .navegacion{
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    width: 50%;
}

.navegacion > a{
    /* ocupar 100% del contenedor */
    flex-grow: 1;

    padding: 0.5em 0.2em;

    font-size: 1.2rem;
    font-family: lato-bold-italic;
    
    background-color: teal;
}

.contenedor{
    display: flex;
}

.main{
    /* flex: 1 1 70%; */
    flex: 1;

    padding: 10px;

    background-color: lightskyblue;
}

.main > .articulo{
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #000;
}

.main > .articulo:nth-last-child(1){
    margin-bottom: 0;
    padding-bottom: 0;
    border-bottom: none;
}

.articulo > .titulo{
    margin: 0;
    font-size: 1.75rem;
    font-family: lato-black-italic;
}

.articulo > p{
    font-size: 1.25rem;
    font-family: lato-regular;
}



.aside{
    /* flex: 1 1 30%; */
    flex: 0 0 300px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    padding: 10px;

    background-color: #e67e22;
}

.aside > .widget{
    padding: 20px;
    margin: 10px;
    height: 200px;

    background-color: #d35400;
}

.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    width: 100%;
    padding: 20px;

    background-color: #2c3e50;
}

.footer .links{
    display: flex;
    
    width: 50%;

    background-color: teal;
}

.footer .social{
    display: flex;

    background-color: teal;
}

.social a,
.links a{
    flex-grow: 1;

    padding: 0.5em 0.25em;

    font-size: 1.25rem;
    font-family: lato-bold-italic;
}

a:hover{
    background-color: darkgray;
}

@media screen and (max-width: 768px) {
    .header{
        flex-direction: column;

        padding: 0;
        margin-bottom: 10px;
    }

    .header > .logo{
        justify-content: center;

        margin: 10px 0;
    }

    .header > .navegacion{
        width: 100%;
    }

    .contenedor{
        flex-direction: column;
    }
}

@media screen and (max-width: 576px) {
    .footer{
        flex-direction: column;

        padding: 0;
    }

    .footer > .links{
        flex-direction: column;

        width: 100%;
        margin-bottom: 10px;
    }

    .footer > .social{
        width: 100%;
    }
}